<!DOCTYPE>
<html>
<head>
  <title>Welcome, <%= params[:user_name] %>!</title>
</head>
<body>
  <h1>Welcome, <%= params[:user_name] %>!</h1>
  <p>Hi <%= params[:user_name] %>, nice to meet you! </p>
</body>
</html>
